/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f166;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7e0f0f66;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7e0f0f66;
}

@media only screen and (max-width: 600px) {

    /* width */
    ::-webkit-scrollbar {
        display: none;
    }
}